
<form class="col s12 white" #employeeRegistrationForm="ngForm" (ngSubmit)="OnSubmit(employeeRegistrationForm)">
    <div class="row">
      <div class="input-field col s6">
        <input class="validate" type="text" name="Customer_ID" #Customer_ID="ngModel" [(ngModel)]="service.formData.Customer_ID" required>   
        <label data-error="Required field!">Customer_ID</label>   
      </div>
    <div class="row">
      <div class="input-field col s12">
        <input class="validate" type="text" name="Employee_ID" #Employee_ID="ngModel" [(ngModel)]="service.formData.Employee_ID"> 
        <label data-error="Invalid email!">Employee_ID</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="Feedback" #Feedback="ngModel" [(ngModel)]="service.formData.Feedback">
        <label>Feedback</label>
      </div>
  </div>
  <div class="input-field col s6">
    <input type="text" name="Comment1" #Comment1="ngModel" [(ngModel)]="service.formData.Comment1">
    <label>Comment</label>
  </div>
  </div>
  
  
    <div class="row">
      <div class="input-field col s12">
        <button [disabled]="!employeeRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
      </div>
    </div>
  </form>